debug: true

spring:
  application:
    name: template-app
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://http://192.168.1.139:32080/realms/xavelo
          jwk-set-uri: https://http://192.168.1.139:32080/realms/xavelo/protocol/openid-connect/certs
management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics"

